body {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  background-color: black;
  overflow: hidden;
}
.scroll {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.hello {
  font-size: 5rem;
}
.circular-img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  padding: 20px;
}
.footer-link {
  display: inline-block;
  padding: 10px;
}
.boxed-text {
  max-width: 600px;
  width: 95%;
  margin: auto;
}
.details {
  padding-top: 5%;
  padding-bottom: 60vh;
}
.flexbox {
  display: flex;
  max-width: 800px;
  margin: auto;
  text-align: left;
}
.mail {
  display: block;
  margin: 5%;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:clicked {
  color: gray;
  text-decoration: none;
}
.bottom {
  padding: 5%;
}