body
{
  background-color: #393f4d;
  color: #d4d4dc;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
}
h1
{
  font-family: 'Satisfy', cursive;
}
hr
{
  border-color: #4C525E;
  border-style: dotted none none none;
  border-width: 8px;
  width: 4%;
}
input
{
  background-color: #1d1e22;
  border-color: #1d1e22;
  color: #d4d4dc;
}
textarea
{
  background-color: #1d1e22;
  border-color: #0d0d0d;
  color: #d4d4dc;
}
form
{
  display: inline-block;
  margin: 0 auto;
}
ul
{
  text-align: left;
  margin-left: 4%;
}
a
{
  color: #998443;
}
a:hover
{
 color: #1d1e22;
}
.p-img
{
  width: 10%;
  height: 10%;
  border-radius: 100%;
}
.header
{
  color: #feda6a;
}
.home
{
  position: fixed;
  left: 1%;
  top: 0;
}
.bg
{
  position: absolute;
  width: 100%;
  top: -10%;
  left: 0;
  z-index: -5;
}
.top-container
{
  padding-top: 40%;
}
.middle-container
{
  padding-top: 5%;
}
.bottom-container
{
  background-color: #1d1e22;
  padding: 5px;
}
