body
{
  background-color: #393f4d;
  color: #d4d4dc;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
}
h1
{
  font-size: 250%;
  font-family: 'Satisfy', cursive;
}
h3
{
  color: #FFF685;
}
hr
{
  border-color: #4C525E;
  border-style: dotted none none none;
  border-width: 10px;
  width: 8%;
  margin: 5% auto;
}
input
{
  background-color: #1d1e22;
  border-color: #1d1e22;
  color: #d4d4dc;
}
textarea
{
  background-color: #1d1e22;
  border-color: #0d0d0d;
  color: #d4d4dc;
}
form
{
  display: inline-block;
  margin: 0 auto;
}
ul
{
  text-align: left;
  margin-left: 4%;
}
a
{
  color: #998443;
}
a:hover
{
 color: #1d1e22;
}
.p-img
{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.header
{
  color: #feda6a;
}
.home
{
  position: fixed;
  left: 1%;
  top: 0;
}
.bg
{
  position: absolute;
  width: 100%;
  top: -10%;
  left: 0;
  z-index: -5;
}
.top-container
{
  padding-top: 40%;
}
.middle-container
{
  max-width: 650px;
  margin: 8% auto 0 auto;
}
.bottom-container
{
  background-color: #1d1e22;
  padding: 5px;
}
.footer-link
{
  display: inline-block;
}
.skill-row
{
  text-align: left;
  display: inline-block;
  margin: 5% auto;
}
.ai-img
{
  float: left;
  margin-right: 20px;
}
.code-img
{
  float: right;
  margin-left: 20px;
}
.profile
{
  width: 50%;
  margin: 0 auto 5% auto;
}

.butn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4C525E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #feda6a;
  text-decoration: none;
}
