body {
    font-family: 'Arvo', serif;
    font-size: 1.5rem;
    background-color: #eeeeee;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin: auto;
    color: #393e46;
}
a:link, a:visited {
    text-decoration: none;
    color: #d65a31;
}
a:hover , a:visited:hover {
    color: #222831;
}
hr {
    margin: 5rem auto;
    border-top: 2px solid #393e46;
    width: 10%;
    margin-left: 0;
}
.bio-container {
    display: flex;
}
.button {
    background-color: #eeeeee;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    cursor: pointer;
    color: #393e46;
    border: 2px solid #393e46;
  }
.capsule {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.footer-link {
    display: inline-block;
    margin: 20px 20px 20px 0;
}
.half {
    width: 50%;
    padding-right: 5rem;
    text-align: justify;
}
.logo {
    width: 25px;
    height: 25px;
}
.middle-container {
    display: flex;
}
.quad {
    width: 25%;
    padding-right: 2rem;
}
.top-bar {
    position: fixed;
}
.top-container {
    padding-top: 15rem;
    padding-bottom: 5rem;
    font-size: 2rem;
}
@media (max-width: 800px) {
    .bio-container {
        display: block;
    }
    .footer-link {
        display: block;
    }
    .list {
        line-height: 0em;
        padding-top: 0;
    }
    .middle-container {
        display: block;
    }
    .quad, .half {
        width: 100%;
        padding-right: 0;
    }
}